@import "../../style/variables.scss";
@import "../../style/mixin.scss";
.header-container {
  height: $header--height;
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header--height;
  background-color: $color-primary-black;
  z-index: 100; /* Adjust the z-index value as needed */
  transition: top 0.3s, transform 0.3s;
  @include center-flex;
}

.header.folded {
  top: -150px;
  transform: translateY(100%);
}

.middleCol {
  flex: 1;
}

.sideCol {
  width: 20vw;
}
