@import "../../style/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: size(8);
  background-color: $color-primary-black;
  z-index: 100; /* Adjust the z-index value as needed */
  transition: top 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.folded {
  top: -150px;
  transform: translateY(100%);
}

.middleCol {
  flex: 1;
}

.sideCol {
  width: 20vw;
}
