@import "./variables.scss";

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: $font-size-text-sm;
}

.text-md {
  font-size: $font-size-text-md;
}

.no-padding {
  padding: 0 0 0 0 !important;
}
