@import "../../style/breakpoints.scss";

.twoColumn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  > * {
    flex-basis: 50%;
  }

  @include media(md) {
    flex-direction: column;
    > * {
      flex-basis: 100%;
    }
  }
}

.reverse {
  flex-direction: column-reverse;
}

.mobileReverse {
  @include media(md) {
    flex-direction: column-reverse;
  }
}
