@import "../component/style/breakpoints.scss";

.HomePage--container {
  margin-left: 10rem;
  margin-right: 10rem;
  min-height: 100vh;
  @include media(lg) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include media(md) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.HomePage-pdfGenerator--container {
  margin-top: 10vh;
}

.HomePage-worksheetSettings--container {
  padding-top: 10vh;
}
